p{
	font-family:sans-serif;
	color.#0000ff;
}
#awesomeText{font-family;'Times New Roman', Georgia, Serif;}
.soft {color.#a8a8a8;}
.center{text-align: center;}
.container {margin: 0 auto;}
a {
color:#cc0000;
text-decoration:none;
}